{% extends 'home/base.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

{%block content%}
    <!-- Cabeçalho -->
   <!--  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
          <ul class="nav nav-pills mb-3 ml-3" id="pills-tab" role="tablist">
            <a class="navbar-brand Yplant" href="/">
                <img src="https://e7.pngegg.com/pngimages/232/221/png-clipart-leaf-plant-stem-line-logo-leaf-food-leaf.png" width="30" height="30" class="d-inline-block align-top ml-3" alt="">
                Yplant
            </a>
            <li class="nav-item" role="presentation">
                <button class="nav-link custom-button-bg active" id="pills-filter-tab" data-bs-toggle="pill"
                data-bs-target="#pills-filter" type="button" role="tab" aria-controls="pills-filter"
                aria-selected="true">Filtro</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-classify-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-classify" type="button" role="tab" aria-controls="pills-classify"
                    aria-selected="false">Classificar</button>
            </li>
        </ul>  
          </div>
        </div>
    </nav> -->
      
    <div id="content" class="container mt-3">
        {% for message in messages %}
        <div>
            <p class="alert alert-primary" id="messages">{{message}}</p>
        </div>
        {% endfor %}
       <!--  <div class="card border-success"> -->
            <div class="card-body">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-filter" role="tabpanel"
                        aria-labelledby="pills-filter-tab">
                        <form method="GET" action="{% url 'index' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-2">
                                    <label for="start_date">Data inicial:</label>
                                    {{ filterForm.start_date }}
                                </div>
                                <div class="form-group col-1 text-center align-self-center" style="margin-top: 16px;">
                                    <span>Até</span>
                                </div>
                                <div class="form-group col-2">
                                    <label for="end_date">Data Final:</label>
                                    {{ filterForm.end_date }}
                                </div>
                            </div>
                            <div class="row mt-4">
                                <label for="">Nome da planta:</label>
                                <div class="form-group col-2">
                                    {{ filterForm.plantation_name}}
                                </div>
                            </div>
                          
                            <div class="col-4 float-start mt-4">
                                <button type="submit" class="btn btn-success button">Classificar</button>
                                <button type="button" class="btn btn-danger button" style="margin-left: 20px;">Limpar campos</button>
                            </div>
                        </form>
                    </div>
                  <!--   <div class="tab-pane fade" id="pills-classify" role="tabpanel" aria-labelledby="pills-classify-tab">
                        <form method="post" action="{% url 'classify' %}">
                            {% csrf_token %}
                            <div class="row d-flex justify-content-center">
                                <div class="form-group col-2">
                                    <label for="n_level text-center">Nível de nitrogênio:</label>
                                    {{ form.N }}
                                </div>
                                <div class="form-group col-2">
                                    <label for="ph_level text-center">Nível de fósforo:</label>
                                    {{ form.P }}
                                </div>
                                <div class="form-group col-2">
                                    <label for="k_level text-center">Nível de Potássio:</label>
                                    {{ form.K }}
                                </div>
                                <div class="form-group col-2">
                                    <label for="temperature text-center">Temperatura:</label>
                                    {{ form.temperature }}
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center mt-2">
                                <div class="form-group col-2">
                                    <label for="humidity text-center">Umidade:</label>
                                    {{ form.humidity }}
                                </div>
                                <div class="form-group col-2">
                                    <label for="soil_ph text-center">Ph do solo:</label>
                                    {{ form.soil_ph }}
                                </div>
                                <div class="form-group col-2">
                                    <label for="rainfall text-center">Precipitação:</label>
                                    {{ form.rainfall }}
                                </div>
                                <div class="form-group col-2">
                                    <label for="water_per_year text-center">Água disponível por ano:</label>
                                    {{ form.water_per_year }}
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center mt-3">
                                <div class="col-6 text-center">
                                    <button type="submit" class="btn btn-success button">Classificar</button>
                                    <button type="button" class="btn btn-danger button" style="margin-left: 20px;">Limpar campos</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
    <script src="{%static 'js/index.js'%}"></script>
 <!--    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Ativar a aba de classificação ao carregar a página
            var classifyTab = document.getElementById("pills-classify-tab");
            classifyTab.click();
        });
        </script>     -->
{%endblock%}