{% extends 'usuarios/base_resetpassword.html'%}
{% load static %}

{% block content%}

<div class="card container reset-password-content mt-4">
    <div class="card-body">
        <h3>Redefinir senha</h3>

        <p>Esqueceu sua senha? Forneça seu endereço de email abaixo, e nos te enviaremos um email com instruções para
            configurar uma nova.</p>
        <form class="form" method="POST">
            {% csrf_token %}
            {{form}}
            <div class="row col-2 mt-3 div-buttom">
                <button type="submit" class="btn btn-success">Enviar email</button>
            </div>
        </form>
    </div>

</div>
{%endblock%}