 <!-- Cabeçalho -->
 <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <ul class="nav nav-pills mb-3 ml-3" id="pills-tab" role="tablist">
      <a class="navbar-brand Yplant" href="/">
          <img src="https://e7.pngegg.com/pngimages/232/221/png-clipart-leaf-plant-stem-line-logo-leaf-food-leaf.png" width="30" height="30" class="d-inline-block align-top ml-3" alt="">
          Yplant
      </a>
      <li class="nav-item" role="presentation">
          <button class="nav-link custom-button-bg active" id="pills-filter-tab" data-bs-toggle="pill"
          data-bs-target="#pills-filter" type="button" role="tab" aria-controls="pills-filter"
          aria-selected="true">Filtro</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-classify-tab" data-bs-toggle="pill"
              data-bs-target="#pills-classify" type="button" role="tab" aria-controls="pills-classify"
              aria-selected="false">Classificar</button>
      </li>
  </ul>  
    </div>
  </div>
</nav>